.navbar {
    background-color: #17052A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
  
    .logo {
      margin-left: 20px;
    }
  
    .logout-button {
      padding: 0.5em 1em;
      background-color: #080010;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-right: 20px;
  
      &:hover {
        background-color: #330066;
      }
    }
}
  