.card {
    backdrop-filter: blur(1rem) saturate(180%);
    -webkit-backdrop-filter: blur(1rem) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 2rem;
    margin: 0.5rem;
    flex: 1 1 12.5rem;
    max-width: 18.75rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 9.3rem;
  
    .card-title {
      color: #7AC0FD;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 1rem;
    }
  
    .sensor-value {
      margin-top: 1rem;
      color: #fff;
    }
}
